<div class="flex flex-col h-screen pt-10 items-center space-y-3">
    <article class="h-96 w-6/12 rounded-lg shadow-xl bg-cover bg-center" [ngStyle]="{'background-image': 'url(&quot;'+ music.image +'&quot;)'}">
        <div class="pt-72 px-3">
            <h1 class="text-white text-1xl mb-5">
                {{music.title}}
            </h1>
            <p class="text-white text-1xl mb-5">
                Artist: {{music.artist}}
                <br>
                Genre: {{music.genre}}
            </p>
        </div>
    </article>
    <audio class="w-4/12" controls>
        <source src={{music.audio_file}} type="audio/mpeg">
    </audio>
    <div class="w-6/12 shadow-md">
        <form action="" class="w-full p-4">
            <div class="mb-2">
                <label for="comment" class="text-1xl text-black">Add a Comment:</label>
                <textarea class="w-full h-20 border rounded focus:outline-none focus:ring-gray-300 focus:ring-1"
                name="comment" placeholder=""></textarea>
            </div>
            <button class="px-3 py-2 text-sm text-white bg-black rounded">Comment</button>
        </form>
    </div>
</div>
